.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  flex-wrap: wrap;
  gap: 15px;
}

@media (max-width: 768px) {
  .filter-bar {
    margin: 30px 0;
    flex-direction: column;
    align-items: stretch;
  }
}